html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}


@media (max-width: 480px)  {
    .header-height {
        height: 100vh;
    }
}

@media (min-width: 480px)  {
    .header-height {
        height: 61.8vh;
    }
}
